<h1>
  Simulaci&oacute;n de vaciado de un tanque
</h1>
<table>
  <tr>
    <td>
      <canvas #myChart class="miCanvas" width="512" height="512"></canvas>
    </td>
    <td>
      <div>
        Altura del tanque : <input type="range" min="0" max="143" [(ngModel)]="rectH" (ngModelChange)="dibujarAgua()"/>{{rectH}}<br />
        Gravedad: <input type="text" [(ngModel)]="gravedad"><br />
        Radio del tanque : <input type="text" [(ngModel)]="radioTanque"><br />
        Radio del orificio : <input type="text" [(ngModel)]="radioOrificio"><br />
        <button (click)="onIniciar()">Iniciar Simulacion</button><br/>
        <h3>Tiempo {{ticks}} segundos</h3>
      </div>
    </td>
  </tr>
</table>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
